---
// Component Imports
import Cursor from "../components/Cursor.svelte";
import FullStack from "../components/FullStack.svelte";
import HaveIListenedTo from "../components/HaveIListenedTo.svelte";
import IconLink from "../components/IconLink.svelte";
import Likes from "../components/Likes.svelte";
import Logo from "../components/Logo.svelte";
import OnPointer from "../components/OnPointer.svelte";
import Releases from "../components/Releases.svelte";
import SpotifyActivity from "../components/SpotifyActivity.svelte";

const likes = [
  { name: "DevOps" },
  { name: "Music" },
  { name: "Design" },
  { name: "Gaming" },
  { name: "Frontend" },
  { name: "Backend" },
  { name: "Spezi" },
  { name: "DevOps" },
];
const likes2 = [
  { name: "Spezi" },
  { name: "Backend" },
  { name: "DevOps" },
  { name: "Design" },
  { name: "Gaming" },
  { name: "Music" },
  { name: "Frontend" },
  { name: "Design" },
];

const res = await fetch("https://keyruu.de/api/v1/releases");
const releases = (await res.json()).list;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@100;200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Outfit", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>
    <script
      src="https://kit.fontawesome.com/5998eebd05.js"
      crossorigin="anonymous"></script>
    <script
      defer
      data-domain="keyruu.de"
      src="https://sorryihavetodothis.keyruu.de/js/script.js"></script>
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Personal website of Keyruu aka Lucas. Keyruu is a DevOps Engineer and full-stack developer. He also does music (hyperpop, rap, pop) and design. He uses Svelte, Java, Quarkus, GraphQL, Kubernetes, Helm, Hetzner, Go and Rust."
    />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Keyruu" />
    <meta
      itemprop="description"
      content="Personal website of Keyruu aka Lucas. Keyruu is a DevOps Engineer and full-stack developer. He also does music (hyperpop, rap, pop) and design. He uses Svelte, Java, Quarkus, GraphQL, Kubernetes, Helm, Hetzner, Go and Rust."
    />
    <meta itemprop="image" content="https://keyruu.de/keyruu_logo.webp" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://keyruu.de" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Keyruu" />
    <meta
      property="og:description"
      content="Personal website of Keyruu aka Lucas. Keyruu is a DevOps Engineer and full-stack developer. He also does music (hyperpop, rap, pop) and design. He uses Svelte, Java, Quarkus, GraphQL, Kubernetes, Helm, Hetzner, Go and Rust."
    />
    <meta property="og:image" content="https://keyruu.de/keyruu_logo.webp" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Keyruu" />
    <meta
      name="twitter:description"
      content="Personal website of Keyruu aka Lucas. Keyruu is a DevOps Engineer and full-stack developer. He also does music (hyperpop, rap, pop) and design. He uses Svelte, Java, Quarkus, GraphQL, Kubernetes, Helm, Hetzner, Go and Rust."
    />
    <meta name="twitter:image" content="https://keyruu.de/keyruu_logo.webp" />
    <title>Keyruu</title>
    <style>
      .different-font {
        font-family: "Montagu Slab", serif;
        font-weight: 300;
      }

      .logo-container {
        background-image: url("/gradient/main-gradient.webp");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
      }

      .fullstack {
        background-image: url("/gradient/subtle-gradient.webp");
        background-repeat: no-repeat;
        background-size: cover;
      }

      .placeholder {
        width: 100%;
        height: 120vh;
      }

      .foggy-sea {
        background-image: url("/foggy_sea.webp");
        background-repeat: no-repeat;
        background-size: auto;
        height: 600px;
      }
    </style>
    <script>
      import { register } from "swiper/element/bundle";

      import "swiper/css";
      import "swiper/css/effect-coverflow";
      import "swiper/css/navigation";
      import "swiper/css/pagination";

      import AtroposComponent from "atropos/element";
      customElements.define("atropos-component", AtroposComponent);

      register();
    </script>
  </head>
  <body>
    <OnPointer client:load>
      <Cursor client:load />
      <div class="navbar bg-neutral-focus fixed top-0 h-20 z-20 opacity-0">
      </div>
      <div class="logo-container flex justify-center items-center flex-col">
        <Logo client:load />
      </div>
      <main>
        <div>
          <div class="foggy-sea w-full mb-24 flex flex-col justify-center">
            <p
              class="mix-blend-difference lg:text-8xl md:text-6xl mb-8 font-thin w-full text-center text-4xl"
            >
              i like
            </p>
            <div class="likes">
              <div class="flex-row flex mix-blend-difference origin-bottom">
                <Likes client:visible likes={likes} />
              </div>
              <div
                class="flex-row flex mix-blend-difference origin-bottom"
                style="transform: translateX(-50%) skewX({$skew * -1}deg)"
              >
                <Likes leftToRight client:visible likes={likes2} />
              </div>
            </div>
          </div>
          <section
            id="devops"
            class="h-[1000px] sm:mb-0 mb-20 flex sm:flex-row flex-col justify-center items-center text-center w-full fullstack"
          >
            <FullStack client:visible />
          </section>
          <section id="keyruu" class="mb-20 flex flex-col items-center">
            <div class="md:text-6xl text-4xl z-10 flex">
              <p
                class="font-semibold hover:bg-gradient-to-r hover:from-cyan-400 hover:to-blue-600 hover:bg-clip-text hover:text-transparent"
              >
                my&nbsp;
              </p>
              <p class="font-extralight">music:</p>
            </div>
            <Releases client:visible {releases} />
          </section>
          <section id="haveilistenedto" class="bg-neutral mb-24">
            <HaveIListenedTo client:visible />
          </section>
          <SpotifyActivity client:visible />
        </div>
      </main>
      <footer class="text-gray-600 body-font">
        <div class="bg-zinc-800">
          <div
            class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row"
          >
            <div
              class="tooltip"
              data-tip="This site does not need an Imprint, because it is a purely personal site without any commercial purpose."
            >
              <p class="text-gray-500 text-sm text-center sm:text-left">
                © 2023 Keyruu
              </p>
            </div>
            <span
              class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start"
            >
              <IconLink
                client:visible
                icon="mdi:github"
                link="https://github.com/Keyruu"
                iconColor="#6b7280"
                highlightColor="#fff"
                extraClasses="ml-3"
              />
              <IconLink
                client:visible
                icon="mdi:linkedin"
                link="https://www.linkedin.com/in/lucasrott/"
                iconColor="#6b7280"
                highlightColor="#3375b0"
                extraClasses="ml-3"
              />
              <IconLink
                client:visible
                icon="mdi:discord"
                link="https://discord.gg/XYUmUeFwA7"
                iconColor="#6b7280"
                highlightColor="#5865F2"
                extraClasses="ml-3"
              />
              <IconLink
                client:visible
                icon="mdi:instagram"
                link="https://www.instagram.com/iamkeyruu/?hl=de"
                iconColor="#6b7280"
                highlightColor="#e1306c"
                extraClasses="ml-3"
              />
            </span>
          </div>
        </div>
      </footer>
    </OnPointer>
  </body>
</html>
